* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Sono', monospace;
}

.img-linea {
    background-color: red;
    height: 40px;
    // background-image: url("../img/Linea.png");
    margin-right: 40px;
}